<form>
    <div class="row">
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label>Product Bar Code</label>
            <input type="text" class="form-control" placeholder="Bar Code" value="601619">
          </div>
        </div>
        <div class="col-md-6 px-1">
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" placeholder="Product Name" value="Sunsilk Shampoo">
          </div>
        </div>
        <div class="col-md-3 pl-1">
            <div class="form-group">
              <label>Cost Price</label>
              <input type="text" class="form-control" placeholder="Cost Price" value="300">
            </div>
          </div>
    </div>

    <div class="row">
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label>Sell Price</label>
            <input type="text" class="form-control" placeholder="Sell Price" value="500">
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>Discount</label>
            <input type="text" class="form-control" placeholder="Discount" value="0.00">
          </div>
        </div>
        <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Product Quantity</label>
              <input type="text" class="form-control" placeholder="Product Quantity<" value="150">
            </div>
        </div>
        <div class="col-md-3 pl-1">
            <div class="form-group">
                <label for="inputState">Status</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose Status</option>
                  <option>enabled</option>
                  <option>disabled</option>
                </select>
            </div>
        </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pr-1">
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" placeholder="City" value="Melbourne">
        </div>
      </div>
      <div class="col-md-4 px-1">
        <div class="form-group">
          <label>Country</label>
          <input type="text" class="form-control" placeholder="Country" value="Australia">
        </div>
      </div>
      <div class="col-md-4 pl-1">
        <div class="form-group">
          <label>Postal Code</label>
          <input type="number" class="form-control" placeholder="ZIP Code">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>About Me</label>
          <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-success btn-round mr-3">Add New Product</button>
          <button type="submit" class="btn btn-primary btn-round">Update Product</button>
      </div>
    </div>
  </form>